{% extends 'base.html.twig' %}

{% block title %}Home {{ parent() }}{% endblock %}

{% block main %}

    <div id="container-liste">
        <article>
            <div>
                <p class="date-peremption">17/06/2020</p>
            </div>
            <div>
                <p class="nom-aliment">Poisson</p>
            </div>
            <div>
                <a href="#"><button class="bouton-suppr"><i class="fas fa-trash icon-suppr"></i></button></a>
            </div>
        </article>
        <article>
            <div>
                <p class="date-peremption">05/07/2020</p>
            </div>
            <div>
                <p class="nom-aliment">Crème fraîche</p>
            </div>
            <div>
                <a href="#"><button class="bouton-suppr"><i class="fas fa-trash icon-suppr"></i></button></a>
            </div>
        </article>
        <div id="bloc-ajout">
            <a href="#"><button id="bouton-ajout">+</button></a>
        </div>

    </div>

{% endblock %}
