{% extends 'base.html.twig' %}

{% block title %}Informations {{ parent() }}{% endblock %}

{% block main %}

    <div id="container-informations">
        <div>
            <h1>A propos de CpluBon.com</h1>
            <p>
                C'est plus bon est une idée survenue dans la vie quotidienne afin de limiter le gaspillage alimentaire. <br>
                L'application est développé sous Symfony 5 dans un but également d'apprentissage du framework et de la programmation web.
            </p>
        </div>


        <div>
            <h1>Un problème, un avis, une proposition ?</h1>
            <p>
                Si vous rencontre un problème sur le site. Si vous avez un avis à donner ou bien une proposition d'amélioration sur le site vous pouvez communiquer avec nous via <a href="mailto:alban.dugue@outlook.fr">cette adresse mail</a>
            </p>
        </div>


        <div>
            <h1>Améliorations à venir </h1>
            <h2>En cours de développement</h2>
            <p>Se souvenir de moi</p>
            <p>Mot de passe oublié</p>

            <h2>A venir</h2>
            <p>Améliorations du design</p>
        </div>

    </div>
    {% endblock %}

{% block javascripts %}
{% endblock %}
