/********************************************************************************************************************/
/*___________________________________________________GENERAL________________________________________________________*/
/********************************************************************************************************************/

/*
    @Élément: Pour chaque élément
    @Description :  Border box et pas de marge ni de padding pour les éléments
 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*
    @Élément: Tout les liens
    @Description :  Pas de décoration
 */
a {
    text-decoration: none;
}

li {
    list-style: none;
}

/*
    @Élément: Div erreur sur un formulaire par défaut
    @Description :  Stylisation de la div erreur
 */
.erreur-form {
    margin-top: 0.5rem;
    background-color: #e55039;
    color: white;
    border-radius: 0.5rem;
    font-weight: bold;
    padding: 0.5rem;
}

/********************************************************************************************************************/
/*____________________________________________________BODY__________________________________________________________*/
/********************************************************************************************************************/

/*******************************************************/
/*______________________HEADER_________________________*/
/*******************************************************/

/*
    @Élément: Header général de l'application
    @Description :  - Positionné en fixed et tout en haut pour avoir l'effet sticky sur le header
                    - Transition d'apparation et index tout en haut
 */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.6s;
    z-index: 1000;
}

/*
    @Élément: Class sur le header déclencher au moment du scroll en Y
    @Description :  - Couleur de fond de la même couleur afin de coller au thème
                    - Transition d'affichage
 */
header.sticky {
    background-color: #78e08f;
    transition: 0.6s;
}

/*
    @Élément: Nav, barre de navigation de l'appli
    @Description :  - Mise en place du display flex et marge
 */
#menu-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
}

/*
    @Élément: Lien dans le menu de l'app
    @Description :  - Couleur blanche sur les liens
 */
#menu-header a {
    color: white;
}

/*
    @Élément: Sélectionne au survol le lien dans le menu de l'app
    @Description :  - Change la couleur en vert foncé
 */
#menu-header a:hover {
    color: #079992;
}

/*
    @Élément: Liste du menu du header
    @Description :  - Mise en place du display flex
 */
#menu-header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

/*
    @Élément: Un élément li de la barre de menu
    @Description :  - Mise en place du display flex
 */
#menu-header li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
    transition: all .3s cubic-bezier(.67,-.51,.42,1.43);
}

/*
    @Élément: Sélectionne un élément li de la barre de menu au survol
    @Description :  - Animation de grossissement
 */
#menu-header li:hover {
    transition: transform .2s;
    transform: scale(1.2);
}

/*
    @Élément: Picto font awesome dans la barre de menu de l'appli
    @Description :  - Taille et marge de la typo
 */
#menu-header i {
    font-size: 2.5rem;
    margin: 0.3rem;
}

/*
    @Élément: Titre de l'application
    @Description :  Paramétrage de la typo (famille, texte centré, taille et espace avec les autres éléments)
 */
#titre {
    font-family: 'Caveat', cursive;
    text-align: center;
    font-size: 4.5rem;
    padding: 3rem 0;
}

/*
    @Élément: Corps de la page HTML
    @Description :  - Définis une typographie par défaut
                    - Couleur de la typographie par défaut en blanc
                    - Fond d'écran vert pour le fond du site
                    - Mise en place du display flex pour avoir un footer responsive
 */
body {
    font-family: "Montserrat", sans-serif;
    color: white;
    background-color: #78e08f;
    min-height:100vh; /* 1 */
    display:flex; /* 2 */
    flex-direction:column; /* 3 */

}

/*******************************************************/
/*______________________MAIN___________________________*/
/*******************************************************/

/*
    @Élément: Bloc main dans le body (entre le header et le footer)
    @Description :  Fin de la mise en place du flex sur le body avec padding
 */
main {
    flex-grow:1; /* 4 */
    padding: 2rem 1rem;
}

/*
    @Élément: Ligne pour délimiter le corps du body avec le footer
    @Description :  Définition du style de la ligne, avec sa marge
 */
hr {
    width: 66%;
    height: 0.1rem;
    border: none;
    outline: none;
    background-color: white;
    margin: 1rem 0;
}

/*******************************************************/
/*______________________FOOTER_________________________*/
/*******************************************************/

/*
    @Élément: Footer du body
    @Description :  - Mise en place du display flex
                    - Texte centré
 */
footer {
    text-align: center;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/********************************************************************************************************************/
/*________________________________________________PAGE LOGIN________________________________________________________*/
/********************************************************************************************************************/

/*
    @Élément: formulaire de connexion qui encapsule tout les éléments du block main de la page login
    @Description :  - Mise en place du display flex
 */
#formLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*
    @Élément: Text H2 présent dans le formulaire de connexion
    @Description :  - Taille de typo et marge en bas
 */
#formLogin h2 {
    font-size: 2.5rem;
    padding-bottom: 1rem;
}

/*******************************************************/
/*__________________ALREADY LOGIN______________________*/
/*******************************************************/

/*
    @Élément: Container dans lequel se trouve le code du bloc déjà connecté
    @Description :  - Marge de l'élément
                    - Style de l'élément
 */
#already-login {
    text-align: center;
    background-color: #b8e994;
    border-radius: 1rem;
    padding: 1rem 1rem 1.5rem 1rem;
    margin-bottom: 0.5rem;
}

/*
    @Élément: Mise en évidence span du pseudo de l'utilisateur
    @Description :  - Bordure basse pointillé
 */
#already-login span {
    border-bottom: white 0.3rem dotted;
}

/*
    @Élément: Message h4 pour dire que l'utilisateur est déjà connecté
    @Description :  - Marge basse
 */
#already-login h4 {
    margin-bottom: 1.3rem;
}

/*
    @Élément: "Bouton" de déconnection stylisé
    @Description :  - Style du bouton
                    - Style du texte
 */
#already-login p a {
    background-color: #b8e994;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: white;
    font-weight: bold;
    border: white 0.2rem solid;
    transition: all .3s cubic-bezier(.67,-.51,.42,1.43);
}

/*
    @Élément: Sélectionne le bouton au survol
    @Description :  - Modification du style de l'élément
 */
#already-login p a:hover {
    background-color: white;
    color: #b8e994;
    transition: all .3s cubic-bezier(.67,-.51,.42,1.43);
}


/*******************************************************/
/*____________________BLOCK FORM_______________________*/
/*******************************************************/

/*
    @Élément: Div container qui met en form un bloc Label/Input pour un élément
    @Description :  - Mise en place du display flex
                    - Marge basse
 */
.block-form {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 1rem;
}

/*
    @Élément: Défini le style d'un label dans le block-form
    @Description :  - Marge basse
                    - Stylisation de la typo
 */
.block-form label {
    margin-bottom: 0.3rem;
    font-weight: bold;
    font-size: 1.2rem;
}

/*
    @Élément: Défini le style d'un input dans le block-form
    @Description :  - Taille et stylisation de l'input
                    - Stylisation de la typo
 */
.block-form input {
    width: 14rem;
    height: 2rem;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    text-align: center;
    font-size: 1rem;
    color: #78e08f;
    font-weight: bold;
    transition: all .3s cubic-bezier(.67,-.51,.42,1.43);
}

/*
    @Élément: Garde le bon style de l'imput malgré l'autocomplétion
    @Description :  - Stylisation de l'input
 */
.block-form input:-webkit-autofill,
.block-form input:-webkit-autofill:hover,
.block-form input:-webkit-autofill:focus,
.block-form input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/*
    @Élément: Garde le bon style de l'imput malgré l'autocomplétion
    @Description :  - Stylisation de l'input
 */
.block-form input:-webkit-autofill {
    -webkit-text-fill-color: #78e08f !important;
}

/*
    @Élément: Défini le style d'un input lorsqu'il est hover ou focus
    @Description :  - Changement stylisation typo et bordure
 */
.block-form input:hover,
.block-form input:focus {
    color: white;
    background-color: #78e08f;
    border: solid 0.2rem white;
    transition: all .3s cubic-bezier(.67,-.51,.42,1.43);
}

/*
    @Élément: Bouton se connecter
    @Description :  - Stylisation du bouton
                    - Stylisation de la typo
                    - Définition des marges extrerne et interne
 */
#bouton-login {
    padding: 0.5rem;
    color: #78e08f;
    background-color: white;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    font-weight: bold;
    font-size: larger;
    margin: 1rem 0;
}

/*
    @Élément: Bouton se connecter lorsqu'il est survolé (hover)
    @Description :  - Changement style typo
                    - Changement style input
 */
#bouton-login:hover {
    color: white;
    background-color: #78e08f;
    border: solid 0.2rem white;
    cursor: pointer;
    margin-bottom: 0.6rem;
    transition: all .3s cubic-bezier(.67,-.51,.42,1.43);
}

/********************************************************************************************************************/
/*_________________________________________________PAGE HOME________________________________________________________*/
/********************************************************************************************************************/

/*
    @Élément: Container qui encapsule tout les éléments du block main de la page home
    @Description :  - Mise en place du display flex
 */
#container-liste {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*
    @Élément: Bloc qui affiche une div si l'utilisateur n'a pas d'aliments
    @Description :  - Mise en place du display flex
 */
#pas-aliments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*
    @Élément: Texte h2 du bloc pas-aliments
    @Description :  margin sur le texte
 */
#pas-aliments h2 {
    margin: 0.5rem 0;
}

/*******************************************************/
/*______________________ARTICLE________________________*/
/*******************************************************/

/* TODO faire une animation pour afficher les articles un à un */
/*
    @Élément: Article regroupant sur une ligne les détails liés à un aliment
    @Description :  - Mise en place du display flex
                    - Taille, style et marge d'un article
 */
article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 2rem;
    transition: all .3s cubic-bezier(.67,-.51,.42,1.43);
}

/*
    @Élément: Article lorsqu'il est survolé
    @Description :  - Changement de couleur du fond
                    - Animation de grossissement de l'article
 */
article:hover {
    background-color: #b8e994;
    transition: transform .25s;
    transform: scale(1.05);
}

/*
    @Élément: Media Queries
    @Description :  Modification de la taille d'article
 */
@media screen and (min-width: 600px) {
    article {
        margin-bottom: 1.5rem;
        width: 50%;
        font-size: 2rem;
    }
}

@media screen and (max-width: 1400px) {
    article {
        margin-bottom: 1.5rem;
        width: 70%;
        font-size: 2rem;
    }
}

@media screen and (max-width: 1050px) {
    article {
        margin-bottom: 1.5rem;
        width: 90%;
        font-size: 1.5rem;
    }
}

/*
    @Élément: Class pour stylisé la date de péremption dans l'article
    @Description :  Taille du bloc et style sur la typo
 */
.date-peremption {
    flex: 1;
    font-weight: bold;
}

/*
    @Élément: Class pour stylisé le nom d'aliment dans l'article
    @Description :  Taille et marge du bloc
 */
.nom-aliment {
    flex: 2;
    text-align: center;
    padding: 0 1rem;
}

/*
    @Élément: Class pour stylisé le bouton supprimer dans l'article
    @Description :  - Stylisation du texte
                    - Stylisation du block
                    - Mise en place du display flex
 */
.bouton-suppr {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    padding: 1rem;
    background-color: white;
    border-radius: 50%;
    outline: none;
    border: none;
    color: #78e08f;
    font-size: 2.5rem;
    font-weight: bold;
    transition: all .15s cubic-bezier(.67,-.51,.42,1.43);
}

/*
    @Élément: Sélectionne bouton supprimé lorsqu'il est survolé
    @Description :  - Définition de la couleur du lien et stylisation d'une bordure
 */
.bouton-suppr:hover {
    background-color: #78e08f;
    border: solid 0.2rem white;
    cursor: pointer;
    transition: all .15s cubic-bezier(.67,-.51,.42,1.43);
}

/*
    @Élément: Sélectionne le lien dans le bouton supprimé
    @Description :  - Définition de la couleur du lien
 */
.bouton-suppr a {
    color: #78e08f;
}

/*
    @Élément: Sélectionne le lien dans le bouton supprimé lorsqu'il est survolé
    @Description :  - Définition de la couleur du lien
 */
.bouton-suppr:hover a {
    color: white;
}

/*******************************************************/
/*___________________BOUTON AJOUT______________________*/
/*******************************************************/

/*
    @Élément: Container du bouton ajout aliment
    @Description :  - Mise en place du display flex
                    - Taille et marge du container
 */
#bloc-ajout {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
    width: 100%;
    padding: 1rem 0.5rem;
}

/*
    @Élément: Media Queries
    @Description :  - Taille du bloc
 */
@media screen and (min-width: 600px) {
    #bloc-ajout  {
        width: 50%;
    }
}

@media screen and (max-width: 1400px) {
    #bloc-ajout  {
        width: 70%;
    }
}

@media screen and (max-width: 1050px) {
    #bloc-ajout {
        width: 90%;
    }
}

/*
    @Élément: Bouton pour ouvrir la modale pour ajouter un aliment
    @Description :  - Taille et marge du bouton
                    - Mise en place du display flex
                    - Style du bouton
                    - Style de la typo (croix)
 */
#bouton-ajout {
    height: 3.5rem;
    width: 3.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #b8e994;
    border-radius: 50%;
    outline: none;
    border: solid 0.2rem white;
    color: white;
    font-weight: bold;
    font-size: 3rem;
    transition: all .3s cubic-bezier(.67,-.51,.42,1.43);
}

/*
    @Élément: Sélectionne bouton ajouter lorsqu'il est survolé
    @Description :  - Définition de la couleur du lien et stylisation d'une bordure
                    - Animation de grossissement du bouton
 */
#bouton-ajout:hover {
    background-color: white;
    border: solid 0.2rem #b8e994;
    cursor: pointer;
    transition: transform .2s;
    transform: scale(1.5);
}

/*
    @Élément: Sélectionne le lien dans le bouton supprimé
    @Description :  - Définition de la couleur du lien
 */
#bouton-ajout a {
    color: white;
}

/*
    @Élément: Sélectionne le lien dans le bouton ajouter lorsqu'il est survolé
    @Description :  - Définition de la couleur du lien
 */
#bouton-ajout a:hover {
    color: #b8e994;
}

/********************************************************************************************************************/
/*____________________________________________MODAL AJOUT ALIMENT___________________________________________________*/
/********************************************************************************************************************/

/*******************************************************/
/*______________________MODALE_________________________*/
/*******************************************************/

/*
    @Élément: Container de la modale entière
    @Description :  - N'apparait pas par défaut
                    - Reste sur place
                    - Tout au dessus en terme d'index
                    - Définition de la taille et marge (plein écran)
                    - Fond noir opacité pour trancher avec l'arrière plan
 */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 15rem; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}


/* TODO animation pour l'affichage de la modale */
/*
    @Élément: Container dans lequel se place le contenu de la modal
    @Description :  - Mise en place du display flex
                    - Stylisation de la div
                    - Taille et marge de la div
 */
.modal-content {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    color: #78e08f;
    border-radius: 1rem;
    margin: auto;
    width: 80%;
}

/*
    @Élément: Media queries sur le contenu de la modale lorsqu'on est plus en mobile
    @Description :  - Taille de la div
 */
@media screen and (min-width: 600px) {
    .modal-content {
        width: 50%;
    }
}

@media screen and (max-width: 1400px) {
    .modal-content  {
        width: 70%;
    }
}

@media screen and (max-width: 1050px) {
    .modal-content {
        width: 90%;
    }
}

/*******************************************************/
/*___________________CLOSE MODALE______________________*/
/*******************************************************/

/*
    @Élément: Div pour fermer la modale
    @Description :  - Placement et style du texte
                    - Mise en place du display flex
 */
.close {
    color: #78e08f;
    float: right;
    font-weight: bold;
    margin-right: 1rem;
    display: flex;
    justify-content: flex-end;
    font-size: 4rem;
}

/*
    @Élément: Sélectionne le p close en hover ou focus
    @Description :  - Changement couleur de la typo
                    - Changement de style sur le curseur
                    - Animation de grossissement sur la croix
 */
.close p:hover,
.close p:focus {
    color: #079992;
    text-decoration: none;
    cursor: pointer;
    transition: transform .1s;
    transform: scale(1.3);
}

/*******************************************************/
/*_____________________FORM AJOUT______________________*/
/*******************************************************/

/*
    @Élément: Container qui englobe tout le formulaire d'ajout d'aliment
    @Description :  - Mise en place du display flex
                    - Marge interne
 */
#formAjoutAliment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem 1rem 1rem;
}

/*
    @Élément: Container qui englobe les éléments label et input dans un block
    @Description :  - Mise en place du display flex
 */
#formAjoutAliment div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*
    @Élément: Label dans le formulaire d'ajout d'aliment
    @Description :  - Stylisation du texte et marge
 */
#formAjoutAliment label {
    margin-bottom: 0.3rem;
    font-weight: bold;
    font-size: 1.2rem;
}

/*
    @Élément: Input dans le formulaire d'ajout d'aliment
    @Description :  - Stylisation du texte
                    - Stylisation et marge de lélément
 */
#formAjoutAliment input {
    width: 14rem;
    height: 2rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    text-align: center;
    font-size: 1rem;
    color: white;
    background-color: #78e08f;
    font-weight: bold;
}

/*
    @Élément: Media queries pour les label et input lorsqu'on est plus en mobile
    @Description :  - Taille de la typo
                    - Taille de l'input
 */
@media screen and (min-width: 600px) {
    #formAjoutAliment input {
        font-size: 2rem;
        width: 21rem;
        height: 3rem;
    }

    #formAjoutAliment label {
        font-size: 2rem;
    }
}

/*
    @Élément: Sélectionne l'input lorsqu'il est focus ou hover
    @Description :  - Stylisation de l'input
 */
#formAjoutAliment input:hover,
#formAjoutAliment input:focus {
    color: #78e08f;
    background-color: white;
    border: solid 0.2rem #78e08f;
}

/*
    @Élément: Garde le bon style de l'imput malgré l'autocomplétion
    @Description :  - Stylisation de l'input
 */
#formAjoutAliment input:-webkit-autofill,
#formAjoutAliment input:-webkit-autofill:hover,
#formAjoutAliment input:-webkit-autofill:focus,
#formAjoutAliment input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #78e08f inset !important;
}

/*
    @Élément: Garde le bon style de l'imput malgré l'autocomplétion
    @Description :  - Stylisation de l'input
 */
#formAjoutAliment input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
}

/*
    @Élément: Bouton qui soumet et ajoute un aliment
    @Description :  - Mise en place du displey flex
                    - Marge et stylisation du bouton
                    - Stylisation du texte
 */
#validation-ajout {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.7rem 1rem;
    background-color: #78e08f;
    color: white;
    border-radius: 1.5rem;
    outline: none;
    border: solid 0.2rem white;
    font-size: 1.2rem;
    font-weight: bold;
}

/*
    @Élément: Sélectionne le bouton lorsqu'il est survolé
    @Description :  - Changement de couleur du texte
                    - Changement de style du bouton
                    - Curseur pointeur
                    - Animation de grossissement du bouton
 */
#validation-ajout:hover {
    color: #78e08f;
    background-color: white;
    border: solid 0.2rem #78e08f;
    cursor: pointer;
    transition: transform .1s;
    transform: scale(1.1);
}


/********************************************************************************************************************/
/*__________________________________________________PAGE REGISTER___________________________________________________*/
/********************************************************************************************************************/

/*
    @Élément: formulaire d'enregistrement qui encapsule tout les éléments du block main de la page login
    @Description :  - Mise en place du display flex
 */
#registerForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*
    @Élément: Text H2 présent dans le formulaire de création de compte
    @Description :  - Taille de typo et marge en bas
 */
#registerForm h2 {
    font-size: 2.5rem;
    padding-bottom: 1rem;
}

/*
    @Élément: Bouton se connecter
    @Description :  - Stylisation du bouton
                    - Stylisation de la typo
                    - Définition des marges extrerne et interne
 */
#bouton-register {
    padding: 0.5rem;
    color: #78e08f;
    background-color: white;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    font-weight: bold;
    font-size: larger;
    margin: 1rem 0;
}

/*
    @Élément: Bouton se connecter lorsqu'il est survolé (hover)
    @Description :  - Changement style typo
                    - Changement style input
 */
#bouton-register:hover {
    color: white;
    background-color: #78e08f;
    border: solid 0.2rem white;
    cursor: pointer;
    margin-bottom: 0.6rem;
    transition: all .3s cubic-bezier(.67,-.51,.42,1.43);
}

/*
    @Élément: Div container qui met en forme le formulaire
    @Description :  - Mise en place du display flex
                    - Marge basse
 */
#formCreaCompte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

/*
    @Élément: Div container qui met en form un bloc Label/Input pour un élément
    @Description :  - Mise en place du display flex
                    - Marge basse
 */
#formCreaCompte div {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 1rem;
}

/*
    @Élément: Défini le style d'un label dans le block-form
    @Description :  - Marge basse
                    - Stylisation de la typo
 */
#formCreaCompte div label {
    margin-bottom: 0.3rem;
    font-weight: bold;
    font-size: 1.2rem;
}

/*
    @Élément: Défini le style d'un input dans le block-form
    @Description :  - Taille et stylisation de l'input
                    - Stylisation de la typo
 */
#formCreaCompte div input {
    width: 14rem;
    height: 2rem;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    text-align: center;
    font-size: 1rem;
    color: #78e08f;
    font-weight: bold;
}

/*
    @Élément: Défini le style d'un input lorsqu'il est hover ou focus
    @Description :  - Changement stylisation typo et bordure
 */
#formCreaCompte div input:hover,
#formCreaCompte div input:focus {
    color: white;
    background-color: #78e08f;
    border: solid 0.2rem white;
}

/*
    @Élément: Garde le bon style de l'imput malgré l'autocomplétion
    @Description :  - Stylisation de l'input
 */
#formCreaCompte div input:-webkit-autofill,
#formCreaCompte div input:-webkit-autofill:hover,
#formCreaCompte div input:-webkit-autofill:focus,
#formCreaCompte div input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/*
    @Élément: Garde le bon style de l'imput malgré l'autocomplétion
    @Description :  - Stylisation de l'input
 */
#formCreaCompte div input:-webkit-autofill {
    -webkit-text-fill-color: #78e08f !important;
}

/*******************************************************/
/*__________________SE LOGUER______________________*/
/*******************************************************/

/*
    @Élément: Container dans lequel se trouve le code du bloc déjà connecté
    @Description :  - Marge de l'élément
                    - Style de l'élément
 */
#se-login {
    text-align: center;
    background-color: #b8e994;
    border-radius: 1rem;
    padding: 1rem 1rem 1.5rem 1rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*
    @Élément: Mise en évidence span du pseudo de l'utilisateur
    @Description :  - Bordure basse pointillé
 */
#se-login span {
    border-bottom: white 0.3rem dotted;
}

/*
    @Élément: Message h4 pour dire que l'utilisateur est déjà connecté
    @Description :  - Marge basse
 */
#se-login h4 {
    margin-bottom: 1.3rem;
}

/*
    @Élément: "Bouton" de déconnection stylisé
    @Description :  - Style du bouton
                    - Style du texte
 */
#se-login p a {
    background-color: #b8e994;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: white;
    font-weight: bold;
    border: white 0.2rem solid;
    transition: all .3s cubic-bezier(.67,-.51,.42,1.43);
}

/*
    @Élément: Sélectionne le bouton au survol
    @Description :  - Modification du style de l'élément
 */
#se-login p a:hover {
    background-color: white;
    color: #b8e994;
    transition: all .3s cubic-bezier(.67,-.51,.42,1.43);
}

/********************************************************************************************************************/
/*______________________________________________PAGE INFORMATIONS___________________________________________________*/
/********************************************************************************************************************/

/*
    @Élément: Conteneur de la page informations
    @Description :  - Mise en place du flex et de la structure de la page
 */
#container-informations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 65%;
}

#container-informations div {
    margin-bottom: 3rem;
}

#container-informations div h1 {
    margin-bottom: 0.5rem;
}

#container-informations div h2 {
    margin-top: 0.5rem;
    margin-left: 1.5rem;
}

#container-informations div p {
    line-height: 1.5rem;
    font-size: 1.2rem;
    margin-left: 3rem;
}

@media screen and (max-width: 800px) {
    #container-informations {
        width: 65%;
        text-align: center;
    }

    #container-informations div h2 {
        margin-left: 0rem;
    }

    #container-informations div p {
        margin-left: 0rem;
    }
}