<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} | C'plus bon.com{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Long+Cang|Montserrat:300,400,700&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Permanent+Marker&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <h1 id="titre">C'plus bon !</h1>
</header>

<main>
    {% block main %}{% endblock %}
</main>

<footer>
    <hr>
    <p>&copy; CplusBon.com • {{ "now"|date("Y") }}</p>
</footer>
{% block javascripts %}{% endblock %}
</body>
</html>